<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-4.2.xsd
				http://www.springframework.org/schema/aop     
				http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
				http://www.springframework.org/schema/tx
				http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
				
				<bean id="AccountAction" class="com.dream2sky.test.web.actions.AccountAction" scope="prototype">
					<property name="user" ref="User"></property>
				</bean>
				<bean id="AdminAction" class="com.dream2sky.test.web.actions.AdminAction" scope="prototype"></bean>
				<bean id="StaffAction" class="com.dream2sky.test.web.actions.StaffAction" scope="prototype"></bean>
				
				<bean id="User" class="com.dream2sky.test.web.models.User" scope="prototype"></bean>
</beans>